.navbar {
  background-color: #00c3ff; /* a nova cor de fundo que deseja */
}

.navbar-nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
