<% @activities.where(status_id: status_id).each do |activity| %>
  <div class="activity-card" data-bs-toggle="modal" data-bs-target="#activityModal-<%= activity.id %>">
      <li class="list-group-item">
        <h5><%= activity.title %></h5>
        <p>Categoria: <%= activity.category.name %></p>
        <% if activity.public %>
          <span class="badge bg-success">Público</span>
        <% else %>
          <span class="badge bg-secondary">Privado</span>
        <% end %>
        <%= link_to 'Editar', edit_activity_path(activity.code), "data-controller": "turbo", class: 'btn btn-primary' %>
      </li>
  </div>
<% end %>




