<% @activities.where(status_id: status_id).each do |activity| %>
  <div class="activity-card">
    <% if disabled %>
      <li class="list-group-item disabled">
    <% else %>
      <li class="list-group-item">
    <% end %>
      <h5><%= activity.title %></h5>
      <p>Categoria: <%= activity.category.name %></p>
      <% if activity.public %>
        <span class="badge bg-success">Público</span>
      <% else %>
        <span class="badge bg-secondary">Privado</span>
      <% end %>
      <%= link_to "Visualizar", activity_path(activity.code), class: "btn btn-primary btn-sm mt-2" %>
    </li>
  </div>
<% end %>
