<% @activities.where(status_id: status_id).each do |activity| %>
  <div class="activity-card-link" data-bs-toggle="modal" data-bs-target="#activityModal-<%= activity.id %>" data-controller="turbo" href="<%= edit_activity_path(activity.code) %>">
    <div class="activity-card">
      <li class="list-group-item">
        <h5><%= activity.title %></h5>
        <p>Categoria: <%= activity.category.name %></p>
        <% if activity.public %>
          <span class="badge bg-success">Público</span>
        <% else %>
          <span class="badge bg-secondary">Privado</span>
        <% end %>
      </li>
    </div>
  </div>
<% end %>
